body{
    font-size: 12px;
    border: 0;
}
select{
    border: 0;
}
input{    
    border: 0;
    border-bottom: 1 solid #666;
}
.thead{
    font-weight: bold;
}
.todo_item{
    margin-left:10px;
}
.todo_item .editing-title{
    width:600px;
    font-size: 16px;
    font-weight: bold;
}
.todo_item .readonly-title{
    color: rgb(36, 36, 71);
    width: 300px;
    display: inline-block;
}
.todo_item .assistant{
    width: 80px;
}
.todo_item .cost{
    width: 30px;
}
.todo_item .planned_end_date-cell{
    display:inline-block;
}
.todo_item .planned_end_date{
    width:72px;
}
.todo_item .cost-cell{
    display:inline-block;
    width:50px;
}
.todo_item .cost-cell input{
    width: 100%;
}
.task.open *{    
    color: #7b7676;
}
.task.ongoing *{
    background-color: #f5f900 !important;
}
.task.done *{
    background-color: greenyellow !important;
}
.task.normal{
}
.task.warn *{
    color:orange;
}
.task.danger *{
    color: red;
    
}
.task .mandatory {
    border:1px solid #ff7e7e;
}