*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
body{
    font-size: 12px;
    border: 0;
}
select{
    border: 0;
}
input{    
    border: 0;
    border-bottom: 1 solid #666;
}
.thead{
}
.icon_done{
    color:#58a958;
}
.icon_inprogress{
    color: #ef972a;
}
.icon_open{
    color:#aaa;
}
.icon_warn{
    color: #b5711c;
}
.icon_danger{
    color:#f00;
}
.react-datepicker__day--today{
    background-color: #bb5a5a !important;
    color:white;
}
.react-datepicker__day--selected{
    background-color: blue !important;
    color:white;
}
.react-datepicker__close-icon::after{
    background-color: #ddd;
}
.task_title.ongoing{
    /* background-color: yellow; */
}
.task_title.ongoing *{
    /* background-color: yellow; */
}
.finished_task  .task_title{
    background-color: greenyellow
}
.finished_task  .task_title *{
    background-color: greenyellow
}
.finished_task .task_title{
    font-Size:13px;
    /* height:1px; */
    border:0;
    /* border-bottom: 1px solid #eee; */
    /* background-color: greenyellow; */
    color:green;
}
.finished_task{
    height:20px
}
.finished_task td{
    margin-left: 7px;
    font-size: 12px;
    color: #999;
}
.finished_task td a{
    /* background-color: greenyellow; */
    color: #ddd;
    float: right;
    margin-right: 337px;
}
.finished_task td a:hover{
    /* background-color: greenyellow; */
    color: blue;
}
.finished_task.hovering{
    border: 0 !important;
}
.finished_task.hovering *{
    background-color: #ead7de !important;
}
.finished_task.hovering .task_title, .finished_task.hovering .task_title *{
    background-color: greenyellow !important;
}
.projectlist{
    position: fixed;
    width: 180px;
    height: 100%;
    background-color: #d5deff;
}
.todo_item_table{
    /* min-width: 1660px; */
}
.saving_to_server td{
    border:1px solid red !important;
}
.todo_main{
    margin-left: 180px;
}
.btn-load{
    background-color: #4d62c5;
    color: wheat;
    width: 99px;
    margin-right:15px;
}
.task_group, .task_group *{

}
.task_group_title, .task_group_title *{
    background-color: #bac5ef;
    color: #666;
}
.mileStone.open td{
    background-color:#ffa5a5;
}
.mileStone.open .milestone-tip{
    border-bottom: 1px solid #ffa5a5;
}
.mileStone.open .milestone-tip, .mileStone.open .millestonename, .mileStone.open .milestone-toolbar,.mileStone.open  *{
    background-color: #eee;
    color: #000;
}
.mileStone.done .milestone-tip, .mileStone.done .millestonename, .mileStone.done .milestone-toolbar,.mileStone.done  *{
    background-color: #95a795;
    color: white;
    filter:alpha(opacity=95); /*支持 IE 浏览器*/
    -moz-opacity:0.95; /*支持 FireFox 浏览器*/
    opacity:0.95; /*支持 Chrome, Opera, Safari 等浏览器*/
}
.mileStone.focus .milestone-tip, .mileStone.focus .millestonename, .mileStone.focus .milestone-toolbar,.mileStone.focus  *{
    background-color: #b99090;
    color: white;
}
.mileStone{
    background-color: #b99090;
    height:1px;
}
.mileStone .millestonename
{
    width: 64px;
    float: left;
}
.milestone-tip{
    padding: 1px 0px 1px 2px;
    margin-left: 0;
    float:left;
    position: absolute;
    left: -82px;
    top: -16px;
    border-radius:3px;
    -moz-border-radius:8px; /* Old Firefox */

    filter:alpha(opacity=75); /*支持 IE 浏览器*/
    -moz-opacity:0.75; /*支持 FireFox 浏览器*/
    opacity:0.75; /*支持 Chrome, Opera, Safari 等浏览器*/
}
.milestone-toolbar{
    padding: 1px 0px 1px 2px;
    margin-left: 0;
    float: right;
    position: absolute;
    right: -71px;
    top: -17px;
    border-radius: 3px;
    -moz-border-radius: 8px;
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    opacity: 0.95;
    width: 70px;
}
.milestone-toolbar select{
}
.todo_main thead{
    font-weight: bold;
    background-color: #d5deff;
}
.todo_item .hovering{
    /* padding-top:3px;
    padding-bottom: 3px;
    border: 2px dotted blue; */
}
.todo_item .hovering *{
    background-color: #ccc;
}
.todo_item .hovering input{
    /* border-bottom: 1px solid blue !important; */
}
.todo_item .editing-title{
    margin-left: 2px;
    width:444px;
    font-size: 13px;
    /* font-weight: bold; */
}
.todo_item .subtask .subtasktd{
    padding-left:24px;
}
.todo_item .subtask .subtasktd .editing-title{
    width:400px;
}
.todo_item .editing-textpeople{
    width:92px;
    font-size: 14px;
    font-weight: bold;

}
.todo_item .readonly-title{
    color: rgb(36, 36, 71);
    width: 300px;
    display: inline-block;
}
.todo_item .editing-catagory{
    width:72px;
    font-size: 13px;
    /* font-weight: normal; */
    text-align: right;
    margin-right:4px;
}
.todo_item .assistant{
    width: 80px;
}
.todo_item .cost{
    width: 30px;
}
.todo_item .planned_end_date-cell{
    display:inline-block;
}
.todo_item .planned_end_date{
    width:63px;
}
.todo_item .cost-cell{
    display:inline-block;
    width:50px;
}
.todo_item .cost-cell input{
    width: 100%;
}
.todo_item .status_backup *{
    color: #c1c1c1;
}
.task.status_open .editing-title {    
    /* color: #111; */
}
.task.status_ongoing *{
    /* background-color: #f5f900; */
}
.task.status_done *{
    /* background-color: greenyellow; */
    color:#989898;
    font-weight: normal;
    font-size: 9px;
}
.task.status_normal{

}
.task.risk_warn .editing-title{
    /* color:#b5711c;
    font-weight: bold; */
}
.task.risk_danger .editing-title{
    /* color: red;    
    font-weight: bold; */
}
.statusSel.dark{
    color: #ddd;
}
.riskSel.dark{
    color: #ddd;
}
.task .row_toolbar *{
    color: #999;
    text-decoration: none;
}
.task .row_toolbar *:hover{
    color: #f00;
    text-decoration: none;
}
.task .mandatory {
    border:1px solid #ff7e7e;
}
.todo_item .daysLost{
    float: left;
    color: #e0b8b8;
    font-size: 3px;
    -webkit-text-size-adjust:3px;
}
.todo_item .daysLeft{
    float: left;
    background-color: #d1f3d1 !important;
    border: 1px solid #3ba518;
}
.todo_item .daysLeft.out-of-time{    
    background-color: #ffe7e7 !important;
    border: 1px solid #e64f4f;
}
.todo_item .daysRange{
    float: left;
    color: #7f7fb7;
    font-size: 3px;
}
