*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
body{
    font-size: 12px;
    border: 0;
}
select{
    border: 0;
}
input{    
    border: 0;
    border-bottom: 1 solid #666;
}
.thead{
}
.react-datepicker__day--today{
    background-color: red !important;
    color:white;
}
.react-datepicker__day--selected{
    background-color: blue !important;
    color:white;
}
.projectlist{
    position: fixed;
    width: 180px;
    height: 100%;
    background-color: #d5deff;
}
.todo_item_table{
    min-width: 1660px;
}
.saving_to_server td{
    border:1px solid red !important;
}
.todo_main{
    margin-left: 180px;
}
.btn-load{
    background-color: #4d62c5;
    color: wheat;
    width: 99px;
    margin-right:15px;
}
.groupName{
    background-color: #a0a0af;
    color: white;
    height: 14px;
}
.mileStone.done .milestone-tip, .mileStone.done .millestonename, .mileStone.done .milestone-toolbar,.mileStone.done  *{
    background-color: #95a795;
    color: white;
    filter:alpha(opacity=95); /*支持 IE 浏览器*/
    -moz-opacity:0.95; /*支持 FireFox 浏览器*/
    opacity:0.95; /*支持 Chrome, Opera, Safari 等浏览器*/
}
.mileStone.focus .milestone-tip, .mileStone.focus .millestonename, .mileStone.focus .milestone-toolbar,.mileStone.focus  *{
    background-color: #b99090;
    color: white;
}
.mileStone{
    background-color: #b99090;
    height:1px;
}
.mileStone .millestonename
{
    width: 64px;
    float: left;
    background-color: #ffbf6f;
    color: white;
}
.milestone-tip{
    padding: 1px 0px 1px 2px;
    margin-left: 0;
    float:left;
    position: absolute;
    left:-83px;
    top: -15px;
    background-color: #ffbf6f;
    color: white;
    border-radius:3px;
    -moz-border-radius:8px; /* Old Firefox */

    filter:alpha(opacity=75); /*支持 IE 浏览器*/
    -moz-opacity:0.75; /*支持 FireFox 浏览器*/
    opacity:0.75; /*支持 Chrome, Opera, Safari 等浏览器*/
}
.milestone-toolbar{
    padding: 1px 0px 1px 2px;
    margin-left: 0;
    float: right;
    position: absolute;
    right: -71px;
    top: -17px;
    background-color: #ffbf6f;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 8px;
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    opacity: 0.95;
    width: 70px;
}
.milestone-toolbar select{
    background-color: #ffbf6f;
    color: white;
}
.todo_main thead{
    font-weight: bold;
    background-color: #d5deff;
}
.todo_item .hovering{
    padding-top:3px;
    padding-bottom: 3px;
    border: 2px dotted blue;
}
.todo_item .hovering *{
    background-color: #eee;
}
.todo_item .hovering input{
    /* border-bottom: 1px solid blue !important; */
}
.todo_item .editing-title{
    margin-left: 7px;
    width:444px;
    font-size: 13px;
    font-weight: bold;
}
.todo_item .subtask .subtasktd{
    padding-left:24px;
}
.todo_item .subtask .subtasktd .editing-title{
    width:400px;
}
.todo_item .editing-textpeople{
    width:92px;
    font-size: 14px;
    font-weight: bold;

}
.todo_item .readonly-title{
    color: rgb(36, 36, 71);
    width: 300px;
    display: inline-block;
}
.todo_item .editing-catagory{
    width:72px;
    font-size: 13px;
    /* font-weight: normal; */
    text-align: right;
}
.todo_item .assistant{
    width: 80px;
}
.todo_item .cost{
    width: 30px;
}
.todo_item .planned_end_date-cell{
    display:inline-block;
}
.todo_item .planned_end_date{
    width:63px;
}
.todo_item .cost-cell{
    display:inline-block;
    width:50px;
}
.todo_item .cost-cell input{
    width: 100%;
}
.todo_item .status_backup *{
    color: #c1c1c1;
}
.task.status_open *{    
    color: #111;
}
.task.status_ongoing *{
    background-color: #f5f900;
}
.task.status_done *{
    background-color: greenyellow;
}
.task.status_normal{
}
.task.risk_warn .editing-title{
    color:#ffb426;
}
.task.risk_danger .editing-title{
    color: red;    
}
.statusSel.dark{
    color: #eee;
}
.riskSel.dark{
    color: #eee;
}
.task .mandatory {
    border:1px solid #ff7e7e;
}
.todo_item .daysLost{
    float: left;
    color: #e0b8b8;
    font-size: 3px;
    -webkit-text-size-adjust:3px;
}
.todo_item .daysLeft{
    float: left;
    background-color: #d1f3d1 !important;
    border: 1px solid #3ba518;
}
.todo_item .daysLeft.out-of-time{    
    background-color: #ffe7e7 !important;
    border: 1px solid #e64f4f;
}
.todo_item .daysRange{
    float: left;
    color: #7f7fb7;
    font-size: 3px;
}
